<section class="bg-white">
    <div class="container-lg">
        <div class="part" style="margin-top: 0;">
            <div class="div-title">
                <h4>Shipping Policy for Dracoss
                </h4>
            </div>
            <p class="update">Last updated: 04/14/2023</p>
            <p>Thank you for choosing Dracoss. The following Shipping Policy ("Policy") applies to all purchases made on the Dracoss.tech website ("Service") operated by Dracoss ("us", "we", or "our"). Please read this Policy carefully to understand our terms regarding shipping.
            </p>
        </div>
        <div class="part">
            <div class="div-title">
                <h4>Processing Time
                </h4>
            </div>
            <p>Orders are processed within [3-5] business days after the pre-order campaign has ended and production has been completed. We will notify you via email when your order has been processed and shipped.</p>
            <ul>
                <li><i class="bi bi-circle-fill"></i>Shipping Rates and Delivery Estimates
                </li>
                <li><i class="bi bi-circle-fill"></i>Shipping charges for your order will be calculated and displayed at checkout. We offer various shipping options with estimated delivery times:
                </li>
                <li><i class="bi bi-circle-fill"></i>Standard Shipping: [15] business days
                </li>
                <li><i class="bi bi-circle-fill"></i>Expedited Shipping: [30] business days
                </li>
                <li><i class="bi bi-circle-fill"></i>Priority Shipping: [48h] business days
                </li>
            </ul>
            <p>Priority Shipping: [48h] business days
                Please note that these estimates are not guaranteed and may vary depending on external factors outside of Dracoss' control, such as carrier delays or customs processing times.
                </p>
        </div>
        <div class="part">
            <div class="div-title">
                <h4>International Shipping
                </h4>
            </div>
            <p>We currently ship to [list of countries]. For international orders, the customer is responsible for any customs and import taxes that may apply. Dracoss is not responsible for delays due to customs processing.
            </p>
        </div>
        <div class="part">
            <div class="div-title">
                <h4>Order Tracking
                </h4>
            </div>
            <p>You will receive a shipment confirmation email containing your tracking number(s) once your order has been shipped. The tracking number will be active within 24 hours. If you have any issues with tracking your order, please contact our customer support team at support@dracoss.tech.
            </p>
        </div>
        <div class="part">
            <div class="div-title">
                <h4>Damaged or Lost Items
                </h4>
            </div>
            <p>Dracoss is not liable for any products damaged or lost during shipping. If you received your order damaged, please contact the shipment carrier to file a claim. Please save all packaging materials and damaged goods before filing a claim.
            </p>
       
            <p>If your package is lost in transit, please contact our customer support team at support@dracoss.tech for assistance.
            </p>
        </div>
        <div class="part">
            <div class="div-title">
                <h4>Changes to This Policy
                </h4>
            </div>
            <p>We reserve the right, at our sole discretion, to modify or replace this Policy at any time. If a revision is material, we will try to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
            </p>
        </div>
        <div class="part">
            <div class="div-title">
                <h4>Contact Us
                </h4>
            </div>
            <p>If you have any questions or concerns about this Privacy Policy, please contact us at <span>contact.team@dracoss.tech</span>.
            </p>
        </div>
    </div>
</section>