* {
    user-select: none;
  }
  
  *:focus {
    outline: none;
  }
.announcement-bar{
    text-align: center;
    background-color: #1B2656;
    color: #fff;
    padding: 7px ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
}
#menu{
    display: flex;
    align-items: center;
}
#menu ul li a span{
    color: #1B2656;
    transition: 0.5s;
}
#menu ul li a span:hover{
    color: #1690F0;
    cursor: pointer;
}
#menu ul li{
    position: relative;
    cursor: pointer;
}
#menu ul li ul {
    cursor: pointer;
    position:absolute;
    padding:0;
    left:0;
    top: 110%;
    display:none;
    background-color: #fff;
    width: 250px;
    padding: 0.5rem 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
  }
  #menu ul li ul li {
    padding:0.5rem 1rem;
  }
  #menu ul li ul li span{

    color: #1B2656;
  }
  #menu ul li ul li span:hover{
    color: #1690F0;
  }
  #menu ul li:hover ul {display:block;}
  .icons-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.login-btn{
    display: flex;
    align-items: center;
    justify-content: baseline;
    border: none;
    background-color: transparent;
    margin-right: 12px;
    font-size: 1.2rem;
    border: 1px solid transparent;
    padding: 1px 5px;
    border-radius: 50%;
    color: #1B2656;
    border: 1px solid #1B2656;
}
.login-btn:hover{
    color: #1690F0;
    border: 0.5px solid #1690F0;
}
.login-btn .btn{
    display: none;
}
.resp-link{
    display: none;
}

/* .icon{
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 700;
    color: #1B2656;
    transition: 0.5s;
} */
.icons-div form select{
    color:#1B2656;
    border: none;
}
.icons-div form select option{
    padding: 3px;
    border: none;
    outline: none;
}
.icons-div form #currency{ 
    margin-left: 3px;
}
.icons-div form select:hover{
    color: #1690F0;
}
.nav{
     display: flex; 
     justify-content: space-between;
     align-items: center;
}
.logo{
    width: 42%;
}
.menu-list{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.menu-item{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.menu-item> a{
    font-weight: 700;
}
@media screen and (max-width: 992px) {
 
    .logo{width: 45%;}
    #menu ul li{
        padding: 0.5rem;
    }
    #menu ul li ul{
        left: 20%;
        top: 80%;
    }
    .login-btn{
        border: none;
    }
    .login-btn .btn{
        display: block;
        color: #1B2656;
    }
    .login-btn i{
        display: none;
    }
    .resp-link{
        display: block;
    }
    .no-resp-link{
        display: none;
    }

}
@media screen and (max-width: 700px){
    .logo{width: 40%;}
    .slide-desc h1{
        font-size: 0.5rem
    }
}

