
<div class="announcement-bar">
    <div class="animated-heading" >
       <span id="changeText">Upgrade Your Tap: Dracoss Water Filters Now Available! – The Future of Clean Water</span>
      </div>
</div>


 <header>
                <div id="menu-jk" class="nav-part shadow-md bg-white navcol">
                    <div class="container-lg">
                        <div class="row  p-2 " style="align-items: center;">
                            <div class="col-lg-3" style="padding-bottom: 7px;    ">
                              <a href="/"> <img class="max-230 logo"  src="assets/images/icons/logo.png" alt="" routerLink="" style="cursor:pointer"></a> 
                                 <a  data-bs-toggle="collapse" data-bs-target="#menu" class="float-end d-lg-none pt-1 ps-3" href="/"><i class="bi pt-1 fs-1 cp bi-list"></i></a>
                            </div>
                            <div id="menu" class="col-lg-9 d-none  d-lg-block">
                                <ul class="fw-bold nacul fs-7">
                                    <li class="float-start p-2 px-4"><a href="/" ><span>Home</span></a></li>
                                    <li class="float-start p-2 px-4"><a href="/about" style="color: #1B2656;"><span>About Us</span></a></li>
                                    <li class="float-start p-2 px-4"><a style="color: #1B2656;"><span>Products<i style="margin-left: 5px;" class="bi bi-chevron-down"></i></span></a>
                                        <ul class="dropdown no-resp-link">
                                            <li><a href="/water-tap-filter"><span>Tap Water Filter</span></a></li>
                                            <li><a href="/water-recycling-machine"><span>Greywater Recycling Machine</span></a></li>
                                          </ul>
                                        </li>
                                    <li><a class="float-start p-2 px-4 resp-link" href="/water-tap-filter"><span>Tap Water Filter</span></a></li>
                                    <li><a class="float-start p-2 px-4 resp-link" href="/water-recycling-machine"><span>Greywater Recycling Machine</span></a></li>
                                   
                                    <li class="float-start p-2 px-4"><a href="/blogs" style="color: #1B2656;"><span>Blog</span></a></li>
                                    <li class="float-start p-2 px-4"><a href="/faq" style="color: #1B2656;"><span>FAQ</span></a></li>
                                    <li class="float-start p-2 px-4"><a href="/contact" style="color: #1B2656;" ><span>Contact Us</span></a></li>
                                    <li class="float-end p-1">
                                        <div class="icons-div">
                                            <button class="login-btn" href="/login">
                                               <i class="user" class="bi bi-person icon"></i>
                                               <span class="btn">Login</span>
                                            </button>
                                          <form action="">
                                            <select name="languages" id="languages">
                                                <option value="USD">English</option>
                                                <option value="EUR">French</option>
                                            </select>
                              
                                            <select name="currency" id="currency">
                                                <option value="USD">USD</option>
                                                <option value="EUR">EUR</option>
                                                <option value="TND">TND</option>
                                            </select>
                                          </form>
                                            
                                      
                                        </div>
                                      
                                       
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

<!--<header>
    <div id="menu-jk" class="nav-part shadow-md bg-white navcol">
        <div class="container-lg nav">
        <div class="logo-div">
            <img class="max-230 logo" src="assets/images/dracossLogo.png" alt="">
             <a  data-bs-toggle="collapse" data-bs-target="#menu" class="float-end d-lg-none pt-1 ps-3"><i class="bi pt-1 fs-1 cp bi-list"></i></a>
        </div>
        <div id="menu"  >
            <ul class="menu-list">
                <li  class="menu-item"><a routerLink="/">Home</a></li>
                <li class="menu-item"><a routerLink="/about" >About Us</a></li>
                <li class="menu-item"><a routerLink="/products">Products</a></li>
                <li class="menu-item"><a routerLink="/blogs">Blog</a></li>
                <li class="menu-item"><a routerLink="/blogs">FAQ</a></li>
                <li class="menu-item"><a routerLink="/contact" >Contact Us</a></li>
                
            </ul>
        </div>
        <div class="icons-div">
            <i class="bi bi-person icon"></i>
            <i class="bi bi-cart icon"></i>
        </div>
    </div>
    </div>
</header>-->
