<footer >
    <div class="inner" >
        <div class="container">
            <div class="callUs">
                <h2 style="color: #fff;font-weight: bold;">Please <span style="color: #1690F0;">Call Us</span> to Take an Extraordinary Service</h2>
                <button class="btn  ms-4 shadow  fw-bolder  machine-btn" ><i class="bi bi-telephone-fill"></i>+216 99 366 309</button>
            </div>
            <div  class="wavy"></div>
            <div class="row">
                <div class="col-md-3 foot-services foot-item">
                   <a href="/"> <img class="logo" src="assets/images/icons/White.png" alt=""></a>
                    <ul>
                        <li>Dracoss is a pioneering startup specializing in innovative and sustainable water management solutions
                            .</li>
                    </ul>
                </div>

                <div class="col-md-3 foot-services foot-item">
                    <h4 style="color: #fff;" >Address</h4>

                    <ul class="address">
                        <li><i class="bi bi-geo-alt"></i>V77C+F4W, l'aouina,2045,Tunis,Tunisia <span style="margin-left: 25px;"></span></li>
                        <li><i class="bi bi-telephone"></i>+216 99 366 309</li>
                        <li><i class="bi bi-envelope-paper"></i>contact@dracoss.tech</li>
                        
                    </ul>
                </div>

                <div class="col-md-3 foot-services foot-item">
                    <h4 style="color: #fff;">Usefull Link</h4>

                    <ul>
                        <li><a href="" style="color: #fff;">About Us</a></li>
                        <li><a href="" style="color: #fff;">Our Products</a></li>
                        <li><a href="" style="color: #fff;">Blog</a></li>
                        <li><a href="" style="color: #fff;">FAQ</a></li>
                        <li><a href="" style="color: #fff;">Contact Us</a></li>
                    </ul>
                </div>

                <div class="col-md-3 foot-news">
                    <h4 style="color: #fff;">Newsletter</h4>
                    <p>Suscribe to our Newsletter</p>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control mb-0" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text bg-primary" id="basic-addon2"><i class="bi text-white bi-send"></i></span>
                        </div>
                    </div>

                    <ul class="media">
                        <a  style="color: #fff;" href="https://www.facebook.com/99Drac" target="_blank"><li><i class="bi bi-facebook"></i></li></a>
                        <!--<a  style="color: #fff;" href="https://www.facebook.com/99Drac" target="_blank"><li><i class="bi bi-twitter"></i></li></a>-->
                        <a  style="color: #fff;" href="https://www.instagram.com/dracoss_tn/" target="_blank"><li><i class="bi bi-instagram"></i></li></a>
                        <a  style="color: #fff;" href="https://www.linkedin.com/company/dracoss/" target="_blank"> <li><i class="bi bi-linkedin"></i></li></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
     <div class="copy end-footer">
         <div class="container ">
            <div class="rights"><a href="" style="color:#1690F0" >Dracoss </a>© 2023 All Right Reserved</div>
            <div><a style="color: #fff; margin-right:10px" href="/privacy-policy">Privacy Policy</a>|<a style="color: #fff;margin-left:10px; margin-right:10px" href="/refund-policy">Refund Policy</a>|<a style="color: #fff;margin-left:10px; margin-right:10px" href="/shipping-policy">Shipping Policy</a>|<a style="color: #fff;margin-left:10px; margin-right:10px" href="/terms-of-service">Terms of Service</a></div>
   
           
         </div>
     </div>
