


   
    <section class="bg-white">
        <div class="container-lg">
            <div class="div-title">
              <h2>Our Blogs</h2>
              <p>Keep Up with Our Newest Blog Articles.</p>
          </div>

        <div class="box-container">

            <div class="box shadow">

                <div class="image">
                    <img src="assets/images/top.png" alt="">
                    <div class="likes"><i class="bi bi-heart-fill"></i><p>82</p></div>
                </div>
                <div class="content">
                    <h5>Dracoss Named One of the Top 10 Water Management Startups in the World.</h5>
                    <p>We are thrilled to announce that Dracoss has been named one of the top 10 water management startups...</p>
                    <a target="_blank" href="https://lnkd.in/d6-rwgDb" class="btn">Read More</a>
                </div>

            </div>

            <div class="box shadow">

                <div class="image">
                    <img src="assets/images/lasvegas.png" alt="">
                    <div class="likes"><i class="bi bi-heart-fill"></i><p>77</p></div>
                </div>
                <div class="content">
                    <h5>Dracoss Wins the Prize for the Best Watertech and Smartcity Solution.</h5>
                    <p>Representing Tunisia, Dracoss brilliantly ousted the tough American, Swiss, Indian and German competition...</p>
                    <a target="_blank" href="https://www.entreprises-magazine.com/la-startup-tunisienne-dracoss-remporte-le-prix-de-la-meilleure-solution-watertech-et-smartcity/" class="btn">Read More</a>
                </div>

            </div>

            <div class="box shadow">

                <div class="image">
                    <img src="assets/images/2.jpg" alt="">
                    <div class="likes"><i class="bi bi-heart-fill"></i><p>77</p></div>
                </div>
                <div class="content">
                    <h5>Zoom on Tunisian Startups: Dracoss, Birou, Sghartoon and WeMove.</h5>
                    <p>The Dot:first hub of digital innovation in tunisia, hosted today Tuesday, January 24, 4 hosted Tunisian startups...</p>
                    <a target="_blank" href="https://www.entreprises-magazine.com/the-dot-zoom-sur-les-startups-tunisiennes-dracoss-birou-sghartoon-et-wemove/" class="btn">Read More</a>
                </div>

            </div>

            <div class="box shadow">

                <div class="image">
                    <img src="assets/images/covid.jpg" alt="">
                    <div class="likes"><i class="bi bi-heart-fill"></i><p>77</p></div>
                </div>
                <div class="content">
                    <h5>The UNDP Supports Initiatives by Young Project Leaders.</h5>
                    <p>The United Nations Development Program (UNDP) organized a special training for 4 young people with initiatives...</p>
                    <a target="_blank" href="https://managers.tn/2021/09/02/le-pnud-accompagne-des-initiatives-de-jeunes-porteurs-de-projet/" class="btn">Read More</a>
                </div>

            </div>

        

            
        </div>
    </div>
    </section>
 
