<section class="bg-white">
          <div class="container-lg">
              <div class="div-title">
                <h2>Dracoss: A Commitment to Water Conservation and Purification</h2>
                <p>We are a team of dedicated professionals who are passionate about providing innovative water conservation and purification solutions.</p>
            </div>
              <div class="about-row row">
                  <div class="col-md-6 about-detail">
                      <div class="fs-6">
                          <p class="mb-3">Dracoss is a company dedicated to providing water conservation and purification solutions. We were founded in 2023 by a team of dedicated professionals who are passionate about protecting our water resources. We believe that everyone has a role to play in conserving water, and we are committed to developing innovative products and services that help people save water and protect the environment.</p>
                      </div>
                  </div>
                  <div class="col-md-6 p-4 about-img">
                      <img src="assets/images/water.png" alt="" class="small-image">
                  </div>
              </div>
            
              <div class="about-row row">
                <div class="col-md-6 p-4 about-img">
                    <img src="assets/images/Dracoss-team.JPG" alt="" class="small-image">
                </div>
                <div class="col-md-6 abut-detail" style="padding-right: 2rem;">
                    <div class="fs-6">
                        <p class="mb-3">
                            Our team is composed of experts in water conservation and purification. We have a deep understanding of the challenges facing our water resources, and we are committed to finding innovative solutions to these challenges. We are also committed to providing our customers with the best possible products and services. We offer a 100% satisfaction guarantee on all of our products, and we are always available to answer your questions and help you find the right solution for your needs.
                            </p>
                    </div>
                </div>
            </div>

            <div class="about-row row">
                <div class="col-md-6 about-detail">
                    <div class="fs-6">
                        <p class="mb-3">Our vision for the future of water conservation and purification is a world where everyone has access to clean, safe water. We believe that water is a precious resource, and we are committed to doing our part to protect it. We are confident that our team and our products can help us achieve this vision.</p>
                    </div>
                </div>
                <div class="col-md-6 p-4 about-img">
                    <img src="assets/images/env.png" alt="" class="small-image">
                </div>
            </div>
            
      </div>
      </section>
      
  <!--- ############ Footer Starts Here ################## -->

 
