

.star-rating {
  font-size: 30px;
}

.star {
  display: inline-block;
  margin: 0 2px;
}

.fa {
  cursor: pointer;
}

.fa-star {
  color: gold;
}

.fa-star-o {
  color: #ccc;
  transition: color 0.2s;
}
/* CSS for Reviews Section */
.svgs{
margin-bottom: 4px;;
  margin-left: 7px;;
}
.dropdown_rating{
  background-color: white;
  z-index: 1;
 position: absolute;
  width: 403px;
  padding: 20px 20px 24px 20px;
 
  transform-origin: top center;
  box-shadow: 0px 6px 14px -4px rgba(0,0,0,0.14);


}
.title_reviews{
  padding-top: 65px;
  font-family:'Nunito';
  font-size: 25px;
    text-align: center;
    color: #000000;
}
.reviews_container {
  padding-top:5px;
  display: flex;
  flex-wrap: wrap;
 
  gap: 20px; /* Adjust the gap between reviews */
}
.addnew{
  text-align: right;
}
.notes{
  display: flex;
  justify-content: space-between; /* Adjust as needed */
}
.review {
  width: calc(25% - 20px); /* Adjust the width and gap to get 3 reviews per row */
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left!important;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff; /* Optional background color */
}

.review img {
  width: 100%; /* Adjust the image size */
  height:220px;
  text-align: center!important;
  object-fit: cover; /* Ensure the image covers the container */
  margin-bottom: 10px;
}
.titleofrev{
  text-align: center;color:black;font-family: sans-serif;margin-top:30px;

}
.last_td{
  margin-left: 7px;
}
.progress-container {
 
  width: 234px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
}

.progress-bar {
  font-size: 10px;

  height: 11px;
  text-align: center;
  line-height: 30px;
  color: rgb(255, 255, 255);
  background-color: #5a5a5a;
}
.btnback{
  font-family: inherit; 
  border:0;
}
.btnaddreview{
  padding: 6px 12px;
  font-size: 16px;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    height: 40px !important;
    cursor: pointer;
    color: #000000;
    background: transparent;
    border-color: #ccc;
    font-family: "Poppins", sans-serif;
  float:right;
  margin-top:34px;
  margin-right: 22px;
}
.rowreview{
  align-items: center;
}
.average{
  font-size: 32px;

  text-align: center;
  
}
.date_rev{
  color: #767676;
    font-size: 11px;

    height: 20px;
}
.starsone{
  font-size: 42px;
  color: gold;
}
.starsc {
  
  font-size: 24px;
  color: gold;

}
.stars {
  cursor: pointer;
  margin-top:30px;
  font-size: 24px;
  color: gold;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.average-rating {
  font-size: 19px;
  margin-left: 10px;
  color: black; /* Set the color to black */
}

.review .user-name {
color: #000000;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 0 2px 0;
  
    font-size: 16px;
    font-family: "Nunito", sans-serif;
}

.review .user-rating {
  margin-bottom: 10px;
}

.review .user-description {
  font-size: 14px;
  color: #666;
}


/* Add media query for smaller screens */
@media screen and (max-width: 768px) {
 .btnaddreview{
  font-size: 14px;
 }
  .review {
      width: 100%;
  }
  .average-rating{
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {

.modal-content{
  height: 516px!important;;
  width: 600px!important;
}}

.tab-title {
  font-family: sans-serif!important;
  color: #0e1b4dbf !important;
  font-family:var(--font-heading-family);
  letter-spacing:calc(var(--font-heading-scale) * .06rem);
  color:rgb(var(--color-foreground));

}
.ordernow{
  margin-top:5px;
  border-radius: 60px!important;
  background-color: transparent!important;
  color: #0E1B4Dbf!important;
  border-color: #0E1B4D!important;
height: 50px;
width: 350px;
}

.description{
  
    color: rgba(var(--color-foreground), 0.75);
    margin-top:10px;
    color: #0e1b4dbf !important;
    font-size: 16px;
    opacity: 83%;
}
.product-features{

    letter-spacing: 0.06rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  font-family: sans-serif!important;
  color: #0e1b4dbf !important;
  font-family:var(--font-heading-family);
 
  color:rgb(var(--color-foreground));
}

.icons{
  font-family: sans-serif!important;
  fill: #0e1b4dbf !important;
  font-family:var(--font-heading-family);
  letter-spacing:calc(var(--font-heading-scale) * .06rem);
  color:rgb(var(--color-foreground));
}
section{
  padding-top: 9rem;
  padding-bottom: 5.5rem;
} 
.zoom {
  padding: 50px;

  transition: transform .2s; /* Animation */

  
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
.color-options {
  margin-top: 10px;
}

.color-buttons {
  display: flex;
  align-items: center;
}

.color-button {
  background: none;
  border: none;
  padding: 0;
  margin-right: 10px;
  cursor: pointer;
}

.color-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}



.selected .color-circle {
  border: 2px solid white;
}

.tab-title{
  padding-left: 10px;
}

  .product-images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
    margin-left: -120px;
  }
  .buynow{
    border-radius: 60px!important;

  border-color: #0E1B4D!important;
height: 50px;
width: 350px;
    background-color: #1B2656;
    color: #f5f5f5;
  }
  .imglist:hover{
    opacity: .7;
  }
  .product-images-list {
    cursor: pointer;
    flex-basis: 14%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-right: 80px;
    margin-left: -80px;
  }
  .product-images-list img{
   margin-bottom: 10px;
  }
  
  .product-image {
    flex-basis: 75%;
  }
  
  .product-image img {
    width: 100%;
    height: auto;
    margin-top: -20px;
  }
  


.product-details {
    padding: 155px 0 50px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
  }
  
  .container {
    display: flex;
    align-items: start;
    justify-content: space-between; 
  }
  .imgp{
    cursor: pointer;
  }
  .product-image {
    cursor:pointer;
    width: 100%;
    margin-left: 10px;
    margin-right: 0px;
  }
  
  .product-image img {
    width: 90%;
    height: auto;
  }

  .product-info {
    
    width: 1300px; /* Ajustez la valeur selon vos besoins */
    margin-top: -40px; 
    margin-left: -40px;
    margin-right: -190px;
  } 


  
  .product-rating {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .product-rating i {
    color: gold;
  }
  
  .rating-text {
    margin-left: 5px;
    font-weight: bold;
  }
  
  .quantity-box {
    display: flex;
    align-items: center;
    margin-top: -15px;
    margin-bottom: 20px;
  }
  a {
    text-decoration: none; /* Supprime le soulignement par défaut */
    color: inherit; /* Utilise la couleur héritée du parent */
  }
 
  .quantity-box label {
    font-weight: bold;
    font-size:larger;
    margin-right: 10px;
    color: #1B2656;
  }

  
  .color-options label {
    font-weight: bold;
    font-size:larger;
    margin-right: 10px; 
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
    
  }
  
  .quantity-controls button {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border:0.2px solid #d1d2d7;
    height: 35px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 1px;
  }

  .quantity-increase.clicked { 
    color: rgb(74, 136, 92);
  }

  .quantity-decrease.clicked { 
    color: rgb(163, 55, 55);
  }

  .quantity-decrease{
    margin-right: -12px;
  }
  .quantity-increase{
    margin-left: 3px;
  }



  .quantity-controls input {
    background-color: #fff;
    border:0.2px solid #d1d2d7;
    width: 50px;
    padding: 5px;
    font-size: 16px;
    border-radius: 1px;
  }
  
 
  .quantity-box input {
    background-color: #fff;
    border:0.2px solid #d1d2d7;
    width: 130px;
    padding: 5px;
    margin-left: 15px;
    font-size: 16px;
    text-align: center;
    border-radius: 1px;
  }
  
  .product-details .product-image img {
    width: 100%;
    max-height: 500px;
  }
  
  .product-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #1B2656;
    font-weight: 700;
   /*  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);  */
  }
  
  .product-price {
    color: #1B2656;
    opacity: 70%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline;
    font-size: 1.2rem;
    font-weight: 700;
  }
  .labelRating{
    margin-right: 5px;
    font-weight: bold;
    font-size:larger; 
  }
  .labelPrice{
    margin-right: 5px;
    font-weight: bold;
    font-size:larger;
    display: inline; 
    color: #1B2656;
  }
  .product-description {
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .product-options {
    margin-bottom: 20px;
  }
  
  .add-to-cart {
    background-color:#1690F0;
    width: 500px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
  }
  

  
.tab-content { 
  margin-top: 10px;
}

.tab-content table {
  width: 100%;
  border-collapse: collapse;
}

.tab-content th,
.tab-content td {
  padding: 8px;
  border: 1px solid #ccc;
}

.tab-content th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.tab-content tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tab-content tr:hover {
  background-color: #eaeaea;
}

  


