<section class="bg-white">
    <div class="container-lg">
        <div class="part" style="margin-top: 0;">
            <div class="div-title">
                <h4>Refund Policy for Dracoss</h4>
            </div>
            <p class="update">Last updated: 04/14/2023</p>
            <p>At Dracoss, we prioritize customer satisfaction and are committed to delivering a high-quality product. This Refund Policy ("Policy") applies to all purchases made on the Dracoss.tech website ("Service") operated by Dracoss ("us", "we", or "our"). </p>
            <p>Please read this Policy carefully to understand our terms regarding refunds.
            </p>
        </div>
        <div class="part">
            <div class="div-title">
                <h4>Pre-Order Cancellations and Refunds
                </h4>
            </div>
            <ol>
                <li><span>1.</span> Cancellation before production: If you decide to cancel your pre-order before the production of the Dracoss greywater machine has commenced, you can request a full refund of the amount paid. Please contact our customer support team at [support@dracoss.tech] to initiate the cancellation and refund process.
                </li>
                <li><span>2.</span> Cancellation after production has started: If you decide to cancel your pre-order after production has commenced, we will refund your payment minus a [40%] cancellation fee to cover the costs associated with the production and processing of your order.
                </li>
            </ol>
        </div>
        <div class="part">
            <div class="div-title">
                <h4>Refunds for Defective Products
                </h4>
            </div>
            <p>Our website uses cookies, which are small text files that are stored on your computer or device when you visit our website. Cookies help us understand how you interact with our website and enable us to improve your experience. You can change your browser settings to refuse cookies or alert you when cookies are being sent. However, some parts of our website may not function properly without cookies.
            </p>
        </div>
        <div class="part">
            <div class="div-title">
                <h4>Third-Party Services
                </h4>
            </div>
            <p>If you receive a Dracoss greywater machine that is defective or damaged, please contact our customer support team atsupport@dracoss.tech within 3 days of receiving the product. We will evaluate the issue and, if deemed necessary, provide you with a return authorization and shipping instructions.
            </p>
            <p>Once we receive the returned product and confirm the defect or damage, we will either:
            </p>
            <ol>
                <li><span>1.</span> Send you a replacement product at no additional cost.</li>
                <li><span>2.</span> Issue a full refund, including any shipping charges associated with the return.</li>
            </ol>
        </div>
        <div class="part">
            <div class="div-title">
                <h4>Late or Missing Refunds
                </h4>
            </div>
            <p>If you haven't received your refund within [30] days after receiving confirmation from our customer support team, please:
            </p>
            <ol>
                <li><span>1.</span> Check your bank account again.</li>
                <li><span>2.</span> Contact your credit card company, as it may take some time before your refund is officially posted.
                </li>
                <li><span>3.</span>Contact your bank, as there might be a processing time before the refund is posted.
                </li>
            </ol>
            <p>If you've taken all these steps and still haven't received your refund, please contact us at support@dracoss.tech
            </p>
        </div>
        <div class="part">
            <div class="div-title">
                <h4>Return Shipping
                </h4>
            </div>
            <p>In the case of returning a product due to a change of mind, the customer is responsible for paying the return shipping costs. If the product is confirmed to be defective, Dracoss will cover the return shipping costs.
            </p>
        </div>
        <div class="part">
            <div class="div-title">
                <h4>
                    Changes to This Policy                    
                </h4>
            </div>
            <p>We reserve the right, at our sole discretion, to modify or replace this Policy at any time. If a revision is material, we will try to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
            </p>
        </div>
        <div class="part">
            <div class="div-title">
                <h4>Contact Us
                </h4>
            </div>
            <p>If you have any questions or concerns about this Privacy Policy, please contact us at <span>contact.team@dracoss.tech</span>.
            </p>
        </div>
    </div>
</section>