<section class="bg-white">
    <app-header></app-header>
      
    <!--  ************************* Page Title Starts Here ************************** -->
       <div class="page-nav no-margin row">
          <div class="container">
              <div class="row">
                  <h2 class="text-start"> Our Products</h2>
                  <ul>
                      <li> <a href="#"><i class="bi bi-house-door"></i> Home</a></li>
                      <li><i class="bi bi-chevron-double-right pe-2"></i> Products</li>
                  </ul>
              </div>
          </div>
      </div>
      
      <!-- ##################### Our Products Starts Here #################### -->
     <div class="container-fluid products big-padding px-3 bg-gray">
         <div class="container-xl">
             <div class="section-title row">
                  <h2 class="fs-1 fw-bold">Our Productes</h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor ipsum dolor sit amet, consectetuer adipiscing elit.</p>
              </div>
             <div class="row">
                 <div class="col-lg-3 col-md-4 mb-4">
                     <a href="detail.html">
                     <div class="product bg-white p-4 text-center shadow-md">
                         <img class="mah-150" src="assets/images/product/p4.webp" alt="">
                          <div class="d-inline-block">
                             <h4 class="fw-bolder fs-5 mt-4">Heat Boat Wifi</h4>
                             <span class="fw-bolder fs-4">85$</span> <span class="text-muted text-decoration-line-through">105$</span>
                         </div>
                         <div class="d-inline-block mt-3">
                             <button class="btn btn-primary px-5">Buy Now</button>
                         </div>
                         
                     </div>
                     </a>
                 </div>
                 <div class="col-lg-3 col-md-4 mb-4">
                     <a href="detail.html">
                     <div class="product bg-white p-4 text-center shadow-md">
                         <img class="mah-150" src="assets/images/product/p1.webp" alt="">
                          <div class="d-inline-block">
                             <h4 class="fw-bolder fs-5 mt-4">Xpress And Clean</h4>
                             <span class="fw-bolder fs-4">85$</span> <span class="text-muted text-decoration-line-through">105$</span>
                         </div>
                         <div class="d-inline-block mt-3">
                             <button class="btn btn-primary px-5">Buy Now</button>
                         </div>
                         
                     </div>
                     </a>
                 </div>
                 <div class="col-lg-3 col-md-4 mb-4">
                     <a href="detail.html">
                     <div class="product bg-white p-4 text-center shadow-md">
                         <img class="mah-150" src="assets/images/product/p2.webp" alt="">
                          <div class="d-inline-block">
                             <h4 class="fw-bolder fs-5 mt-4">Fitness Pluse</h4>
                             <span class="fw-bolder fs-4">85$</span> <span class="text-muted text-decoration-line-through">105$</span>
                         </div>
                         <div class="d-inline-block mt-3">
                             <button class="btn btn-primary px-5">Buy Now</button>
                         </div>
                         
                     </div>
                     </a>
                 </div>
                 <div class="col-lg-3 col-md-4 mb-4">
                     <a href="detail.html">
                     <div class="product bg-white p-4 text-center shadow-md">
                         <img class="mah-150" src="assets/images/product/p3.webp" alt="">
                          <div class="d-inline-block">
                             <h4 class="fw-bolder fs-5 mt-4">Alkaline Ultra</h4>
                             <span class="fw-bolder fs-4">85$</span> <span class="text-muted text-decoration-line-through">105$</span>
                         </div>
                         <div class="d-inline-block mt-3">
                             <button class="btn btn-primary px-5">Buy Now</button>
                         </div>
                         
                     </div>
                     </a>
                 </div>
             </div>
         </div>
     </div>

  <!--- ############ Footer Starts Here ################## -->
  <app-footer></app-footer>
  <div class="copy">
      <div class="container">
          <a href="https://www.smarteyeapps.com/">2022 &copy; All Rights Reserved | Designed and Developed by Smarteyeapps.com</a>

        
      </div>
  </div>


</section>
