<section class="bg-white">


    <!-- ##################### Slider Starts Here #################### -->

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner custum">
            <div class="carousel-item active">
                <img src="assets/images/slider/white-bg.jpg" class="d-block w-100 slide-bg" alt="..."
                    style="height: 60vh;">
                <div class="carousel-caption  flex">
                    <div class="col-lg-6 animate__animated  animate__bounceInLeft text-start slide-desc">
                        <h1 class="fs-12 fw-bolder">5-Layer Tap <br><span class="text-primary">Water Filter</span> </h1>
                        <p class="text-dark d-none d-md-block text-start">Experience pure, refreshing water right from
                            your kitchen faucet. Enjoy clean, safe, and crisp water for drinking, cooking, and all your
                            household needs. Get the best quality water with the Dracoss 5-Layer Ceramic Tap Water
                            Filter today !</p>
                        <div class="d-inline-block pt-5 text-start d-lg-block d-none ">
                            <button routerLink="/water-tap-filter" class="btn btn-primary shadow fs-5 fw-bolder px-5 py-2">Buy
                                Now</button>
                            <button routerLink="/water-tap-filter"
                                class="btn btn-outline-primary ms-4 shadow fs-5 fw-bolder px-5 py-2 read-btn">Read
                                More</button>
                        </div>
                    </div>
                    <div class="col-lg-6 animate__animated animate__bounceInRight  d-lg-block slide-img">
                        <img class="filtre-slide" src="assets/images/slider/My project.png" alt="">
                        <img style="width: 150%;" class="splash-img" src="assets/images/slider/water-splashing.png"
                            alt="">
                    </div>
                    <div class="pt-2 text-start btn-resp flex">
                        <button routerLink="/water-tap-filter" class="btn btn-primary shadow">Buy Now</button>
                        <button routerLink="/water-tap-filter" class="btn btn-outline-primary ms-4 shadowread-btn">Read
                            More</button>
                    </div>

                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/images/slider/white-bg.jpg" class="d-block w-100 slide-img" alt="..."
                    style="height: 60vh;">
                <div class="carousel-caption flex ">

                    <div class="animate__animated  animate__bounceInLeft slide-desc">
                        <h1 class="fs-12 fw-bolder text-start">Greywater <br><span class="text-primary">Recycling
                                Machine</span> </h1>
                        <p class="d-md-block text-dark text-start d-none ">Experience the future of water conservation
                            and cost savings. The Dracoss Greywater Recycling Machine is a revolutionary technology
                            designed to reduce water consumption and your utility bills.</p>
                        <div d-none class="d-inline-block pt-5 text-start d-lg-block d-none">
                            <button routerLink="/checkout"
                                class="btn btn-primary shadow fs-5 fw-bolder px-5 py-2">Preorder</button>
                            <button routerLink="/water-recycling-machine"
                                class="btn btn-outline-primary ms-4 shadow fs-5 fw-bolder px-5 py-2">Read More</button>
                        </div>
                    </div>
                    <div class=" animate__animated  animate__bounceInRight d-lg-block slide-img">
                        <img class="machine-slide" src="assets/images/product/dracossMachine-removebg-preview.png"
                            alt="">
                        <img class="splash-img" src="assets/images/slider/water-splashing.png" alt="">
                    </div>
                    <div class="pt-2 text-start btn-resp flex">
                        <button routerLink="/water-tap-filter" class="btn btn-primary shadow">Buy Now</button>
                        <button routerLink="/water-tap-filter" class="btn btn-outline-primary ms-4 shadowread-btn">Read
                            More</button>
                    </div>


                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"><i
                    class="bi fs-4 text-dark bi-chevron-left"></i></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"><i
                    class="bi fs-4 text-dark bi-chevron-right"></i></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


</section>

<!-- ##################### Why Choos US #################### -->
<!-- <div class="container-fluid products bg-gray big-padding pt-3">
         <div class="container-xl">
             <div class="section-title row">
                  <h2 class="fs-1 fw-bold">Our Products</h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor ipsum dolor sit amet, consectetuer adipiscing elit consectetuer adipiscing elit. Aenean commodo.</p>
              </div>
             <div class="row mt-5">
                 <div class="col-lg-4 mb-4 col-md-6">
                     <div class="cover text-center p-4 shadow-md bg-white">
                         <img class="w-125" src="assets/images/services/flood.png" alt="">
                         <h2 class="fs-4 fw-bolder mt-4">Home Filtration Systems</h2>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus mollis malesuada. Sed suscipit, tortor nec sollicitudin tincidunt nibh. </p>
                     </div>
                 </div>
                 <div class="col-lg-4 mb-4 col-md-6">
                     <div class="cover text-center p-4 shadow-md bg-white">
                         <img class="w-125" src="assets/images/services/002-drink-water.png" alt="">
                         <h2 class="fs-4 fw-bolder mt-4">Drinking Water Systems</h2>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus mollis malesuada. Sed suscipit, tortor nec sollicitudin tincidunt nibh. </p>
                     </div>
                 </div>
                  <div class="col-lg-4 mb-4 col-md-6">
                     <div class="cover text-center p-4 shadow-md bg-white">
                         <img class="w-125" src="assets/images/services/water-heater.png" alt="">
                         <h2 class="fs-4 fw-bolder mt-4">Problem Water Solution</h2>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus mollis malesuada. Sed suscipit, tortor nec sollicitudin tincidunt nibh. </p>
                     </div>
                 </div>
                 <div class="col-lg-4 mb-4 col-md-6">
                     <div class="cover text-center p-4 shadow-md bg-white">
                         <img class="w-125" src="assets/images/services/water-tap.png" alt="">
                         <h2 class="fs-4 fw-bolder mt-4">Tap Water Filter</h2>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus mollis malesuada. Sed suscipit, tortor nec sollicitudin tincidunt nibh. </p>
                     </div>
                 </div>
                 <div class="col-lg-4 mb-4 col-md-6">
                     <div class="cover text-center p-4 shadow-md bg-white">
                         <img class="w-125" src="assets/images/services/001-save-water.png" alt="">
                         <h2 class="fs-4 fw-bolder mt-4">Shower Water Filter</h2>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus mollis malesuada. Sed suscipit, tortor nec sollicitudin tincidunt nibh. </p>
                     </div>
                 </div>
                 <div class="col-lg-4 mb-4 col-md-6">
                     <div class="cover text-center p-4 shadow-md bg-white">
                         <img class="w-125" src="assets/images/services/ph.png" alt="">
                         <h2 class="fs-4 fw-bolder mt-4">Home Water Test</h2>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus mollis malesuada. Sed suscipit, tortor nec sollicitudin tincidunt nibh. </p>
                     </div>
                 </div>
                 
             </div>
         </div>
     </div> -->
<!-- dracoos new home page !-->
<section class="padding-cus">
    <div class=" container-lg firstdesc container-fluid products big-padding pt-10">
        <h2 class="title1 row"><b>Why Choose Dracoss Water Tap Purifier?</b></h2>
        <div class="desc">
            <p>
                At Dracoss, we're committed to delivering top-notch water purification solutions that
                prioritize your convenience. Say goodbye to classical filtration and hello to a continuous supply of
                pure, clean water!
            </p>
            <p>
                Experience the future of water purification. Choose Dracoss and enjoy the ease of clean, refreshing
                water every day.
            </p>
        </div>
    </div>

    <section>
        <div class=" multirow">
            <div class="row firstrow">
                <div class="img col">
                    <img class="img1" src="assets/images/product/ceramic filter.png" alt="" width="620" height="620"
                        loading="lazy">
                </div>


                <div class="imgtxt imgtxt1 col-lg-6">
                    
                    <div class="titleof1">
                        <b> High-Tech Ceramic Filter Cartridge</b>

                    </div>
                    <div class="description">
                        Our water tap purifier boasts an impressive ceramic filtration system with a precision of 0.3
                        microns,
                        ensuring the removal of a wide range of impurities. From sediment and rust to red worms,
                        parasites,
                        and harmful algae, our filtration technology leaves no room for contaminants. But it doesn't
                        stop
                        there – we enhance the taste
                        by incorporating activated carbon granules, effectively eliminating chlorine and further
                        improving
                        the water's quality.
                        With antibacterial granules that eliminate harmful bacteria, your water is not only crystal
                        clear
                        but also refreshingly
                        sweet. Experience the epitome of water purity with Dracoss.


                    </div>
                    <div>
                        <button class="ordernow" routerLink="/water-tap-filter">Buy Now</button>
                    </div>

                </div>
            </div>
            <div class="row firstrow secondrow">

                <div class="img col">
                    <img class="img2" src="assets/images/product/Easy to Install.JPG" alt="" width="620" height="724"
                        loading="lazy">
                </div>
                <div class="imgtxt col-lg-6">
                  
                    <div class="titleof1">
                        <b> Easy to Install </b>

                    </div>
                    <div class="description">
                        At Dracoss, we put the power of installation in your hands. We provide a comprehensive range of
                        essential accessories, including precision sealings, specialized abrasive papers, adaptable
                        adapters, and more. Our commitment to your convenience means that you can effortlessly install
                        our advanced water tap purifier by yourself. It's a straightforward process designed with your
                        ease in mind. Take control of your water purification today with Dracoss and enjoy the
                        confidence of a professional-grade installation."


                    </div>
                    <div>
                        <button class="watchvideo" routerLink="/checkout">Watch Installation Video Now</button>
                    </div>

                </div>


            </div>
            <div class="row firstrow thirdrow">
                <div class="img col">
                    <img class="img3" src="assets/images/product/no electricity.JPG" alt="" width="620" height="724"
                        loading="lazy">
                </div>


                <div class="imgtxt imgtxt1 col-lg-6">
                   
                    <div class="titleof1">
                        <b> No electrcity
                        </b>

                    </div>
                    <div class="description">
                        Our water tap purifier is engineered to deliver exceptional performance without relying on
                        electricity. This means you can enjoy pure, clean water at any time, without worrying about
                        power sources or energy consumption. Dracoss has crafted a solution that seamlessly integrates
                        into your life, ensuring you have access to safe and refreshing water with unmatched
                        convenience. Join us in embracing sustainable water purification, effortlessly, and without the
                        need for external power."
                    </div>
                    <div>
                        <button class="ordernow" routerLink="/water-tap-filter">Order Now</button>
                    </div>

                </div>
            </div>
            <div class="row firstrow secondrow">

                <div class="img col">
                    <img class="img2" src="assets/images/product/easy maintenance.JPG" alt="" width="620" height="724"
                        loading="lazy">
                </div>
                <div class="imgtxt col-lg-6">
                   
                    <div class="titleof1">
                        <b> Easy Maintenance </b>

                    </div>
                    <div class="description">
                        Maintaining your water tap purifier is a breeze with Dracoss. Our high-quality filter cartridges
                        typically last between 3-6 months, depending on the water conditions in your specific area. When
                        it's time for a replacement, the process is effortless – just remove the old cartridge and
                        insert a new one. That's all it takes to ensure your water remains clean, pure, and ready to
                        enjoy. Dracoss is committed to making water purification easy, allowing you to savor the
                        benefits without any hassle.


                    </div>
                    <div>
                        <button class="watchvideo" routerLink="/water-tap-filter">Maintenance Video Guide</button>
                    </div>

                </div>


            </div>
        </div>
    </section>

</section>


<!-- ******************** Dracoss Machine ******************* -->

<!-- ******************** Dracoss Slidebar********************-->


<!-- ******************** Dracoss values ******************* -->

    <div class="container-lg">
        <div class="div-title">
            <h2>Our Values</h2>
            <p>Our Core Values: Guiding Principles that Define Us.</p>
        </div>
        <div class="values flex-between flex">
            <div class="drop flex">
                <div class="content flex flex flex-center">
                    <div class="icon">
                        <img src="assets/images/icons/hand-shake.png" alt="">
                    </div>
                    <h4>Commitment</h4>
                    <p>Unwavering Dedication to Excellence.</p>


                </div>
            </div>
            <div class="drop flex">
                <div class="content flex flex-center">
                    <div class="icon">
                        <img src="assets/images/icons/honesty.png" alt="">
                    </div>
                    <h4>Honesty</h4>

                    <p>Our Integrity Is Above All.</p>
                </div>
            </div>
            <div class="drop flex">
                <div class="content flex flex-center">
                    <div class="icon">
                        <img src="assets/images/icons/light-bulb.png" alt="">
                    </div>
                    <h4>Innovation</h4>
                    <p>Transforming Possibilities To Reality.</p>
                </div>
            </div>
            <div class="drop flex">
                <div class="content flex flex-center">
                    <div class="icon">
                        <img src="assets/images/icons/quality.png" alt="">
                    </div>
                    <h4>Quality</h4>
                    <p>Pursuing Excellence Together.</p>
                </div>
            </div>
            <div class="drop flex">
                <div class="content flex flex-center">
                    <div class="icon">
                        <img src="assets/images/icons/target.png" alt="">
                    </div>
                    <h4>Vision</h4>
                    <p>Embracing Boundless Vision.</p>
                </div>
            </div>

        </div>


    </div>


<!-- ##################### section with video #################### -->






<!--- ############ partners Starts Here ################## -->


<!-- ##################### Our Products Starts Here #################### -->
<!--<div class="container-fluid products big-padding px-3 bg-gray">
         <div class="container-xl">
             <div class="section-title row">
                  <h2 class="fs-1 fw-bold">Our Productes</h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor ipsum dolor sit amet, consectetuer adipiscing elit.</p>
              </div>
             <div class="row">
                 <div class="col-lg-3 col-md-4 mb-4">
                     <a href="detail.html">
                     <div class="product bg-white p-4 text-center shadow-md">
                         <img class="mah-150" src="assets/images/product/p4.webp" alt="">
                          <div class="d-inline-block">
                             <h4 class="fw-bolder fs-5 mt-4">Heat Boat Wifi</h4>
                             <span class="fw-bolder fs-4">85$</span> <span class="text-muted text-decoration-line-through">105$</span>
                         </div>
                         <div class="d-inline-block mt-3">
                             <button class="btn btn-primary px-5">Buy Now</button>
                         </div>
                         
                     </div>
                     </a>
                 </div>
                 <div class="col-lg-3 col-md-4 mb-4">
                     <a href="detail.html">
                     <div class="product bg-white p-4 text-center shadow-md">
                         <img class="mah-150" src="assets/images/product/p1.webp" alt="">
                          <div class="d-inline-block">
                             <h4 class="fw-bolder fs-5 mt-4">Xpress And Clean</h4>
                             <span class="fw-bolder fs-4">85$</span> <span class="text-muted text-decoration-line-through">105$</span>
                         </div>
                         <div class="d-inline-block mt-3">
                             <button class="btn btn-primary px-5">Buy Now</button>
                         </div>
                         
                     </div>
                     </a>
                 </div>
                 <div class="col-lg-3 col-md-4 mb-4">
                     <a href="detail.html">
                     <div class="product bg-white p-4 text-center shadow-md">
                         <img class="mah-150" src="assets/images/product/p2.webp" alt="">
                          <div class="d-inline-block">
                             <h4 class="fw-bolder fs-5 mt-4">Fitness Pluse</h4>
                             <span class="fw-bolder fs-4">85$</span> <span class="text-muted text-decoration-line-through">105$</span>
                         </div>
                         <div class="d-inline-block mt-3">
                             <button class="btn btn-primary px-5">Buy Now</button>
                         </div>
                         
                     </div>
                     </a>
                 </div>
                 <div class="col-lg-3 col-md-4 mb-4">
                     <a href="detail.html">
                     <div class="product bg-white p-4 text-center shadow-md">
                         <img class="mah-150" src="assets/images/product/p3.webp" alt="">
                          <div class="d-inline-block">
                             <h4 class="fw-bolder fs-5 mt-4">Alkaline Ultra</h4>
                             <span class="fw-bolder fs-4">85$</span> <span class="text-muted text-decoration-line-through">105$</span>
                         </div>
                         <div class="d-inline-block mt-3">
                             <button class="btn btn-primary px-5">Buy Now</button>
                         </div>
                         
                     </div>
                     </a>
                 </div>
             </div>
         </div>
     </div>-->

<!-- ################## Our Blog #################### -->

<div id="blog" class="service container-fluid " >
    <div class="container-lg">
        <div class="div-title blogs">
            <h2 class="filter-title ">Our Blogs</h2>
            <p>Keep Up with Our Newest Engaging and Informative Blog Articles.</p>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="serv-cove rounded p-2" style="background-color: #eff4f8;">
                    <div class="blog">
                        <img src="assets/images/blog/Water-Management-Startups.png" alt="">
                    </div>
                    <div class="p-2">
                        <h5 class="mt-3 fs-7 fw-bold">Dracoss Named One of the Top 10 Water Management Startups in the
                            World...</h5>
                        <a target="_blank"
                            href="https://www.startus-insights.com/innovators-guide/water-management-startups/?fbclid=IwAR3aYbNMgceU7404pEBzqGQmMflNzhbmHBCxwyN4f2hmljl51fRNYodz4q4"
                            class="blog-link"><span class="float-start fw-bold fs-8"> Learn More <i
                                    class="bi bi-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="serv-cove rounded p-2" style="background-color: #eff4f8;">

                    <div class="blog">
                        <img src="assets/images/blog/blog3.jpg" alt="">
                    </div>
                    <div class="p-2">
                        <h5 class="mt-3 fs-7 fw-bold">The UNDP Supports Initiatives by Young Project Leaders...</h5>
                        <a target="_blank"
                            href="https://managers.tn/2021/09/02/le-pnud-accompagne-des-initiatives-de-jeunes-porteurs-de-projet/"
                            class="blog-link"><span class="float-start fw-bold fs-8"> Learn More <i
                                    class="bi bi-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="serv-cove rounded p-2" style="background-color: #eff4f8;">
                    <div class="blog">
                        <img src="assets/images/blog/blog4.png" alt="">
                    </div>
                    <div class="p-2">
                        <h5 class="mt-3 fs-7 fw-bold">Dracoss Wins the Prize for the Best Watertech and Smartcity
                            Solution...</h5>
                        <a target="_blank"
                            href="https://www.entreprises-magazine.com/la-startup-tunisienne-dracoss-remporte-le-prix-de-la-meilleure-solution-watertech-et-smartcity/"
                            class="blog-link"><span class="float-start fw-bold fs-8"> Learn More <i
                                    class="bi bi-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<!------------------- Our clients and destributers -------------------->

    <div class="container-lg costum">
        <div class="div-title ">
            <h2>Trusted By Leaders In The Industry</h2>
        </div>
        <div class="partners-types flex flex-between">
            <a (click)="onClickClients()">
                <h4 class="type" [ngClass]="{'isActive': showClients}">Clients</h4>
            </a>
            <a (click)="onClickDistributors()">
                <h4 class="type" [ngClass]="{'isActive': showDistributors}">Distributors</h4>
            </a>
            <a (click)="onClickMedia()">
                <h4 class="type" [ngClass]="{'isActive': showMedia}">Media Coverage</h4>
            </a>
            <a (click)="onClickPartners()">
                <h4 class="type" [ngClass]="{'isActive': showPartners}">Partners</h4>
            </a>
        </div>
        <div class="slider" [style]="clientStyle">
            <!--- ***********clients**************-->
            <div class="slide-track">
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" />
                </div>
            </div>
        </div>

        <!--***********Distributors**************-->
        <div class="slider" [style]="distributorStyle">
            <div class="slide-track">
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" />
                </div>
            </div>
        </div>
        <!--***********Media Coverage**************-->
        <div class="slider" [style]="mediaStyle">
            <div class="slide-track">
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" />
                </div>
            </div>
        </div>
        <!--***********Partners**************-->
        <div class="slider" [style]="partnerStyle">
            <div class="slide-track">
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" alt="" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" />
                </div>
                <div class="partner">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" />
                </div>
            </div>
        </div>


    </div>
<section>
    
</section>
<!--- ############ dracoss feated Starts Here ################## -->
<section>
    <div class=" container-lg firstdesc container-fluid products big-padding pt-3">
        <h3 class="row dracoos_f"><b>Dracoss AS FEATURED IN</b></h3>
    <div id="carouselExampleInterval" class="carousel slide cust" data-mdb-ride="carousel" data-mdb-interval="false">
        <div class="carousel-inner x">
            <div class="carousel-item active" data-mdb-interval="5000">
                <div class="background">
                <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="d-block w-100 imgcaroussel" alt="Wild Landscape" />
            </div>
            </div>
            <div class="carousel-item" data-mdb-interval="5000">
                <img src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp" class="d-block w-100" alt="Camera" />
            </div>
            <div class="carousel-item" data-mdb-interval="5000" >
                <img src="https://mdbcdn.b-cdn.net/img/new/slides/043.webp" class="d-block w-100" alt="Exotic Fruits" />
            </div>
        </div>
        <button class="carousel-control-prev" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    </div>
    </section>

<!--- ############ Testimonial Starts Here ################## -->
    
<div id="testimonial" class="service  container-fluid ">
    <div class="container">
        <div class="div-title x row mb-3">
            <h2 class="filter-title ">Testimonial</h2>
            <p>What Our Client are Saying About Dracoss.</p>
        </div>
        <div class="row mt-5 avis">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="serv-cove shadow-md rounded bg-white p-3">
                    <div class="prf row mb-3">
                        <div class="col-3">
                            <img class="rounded-pill" src="assets/images/testimonial/member-01.jpg" alt="">
                        </div>
                        <div class="col-9 align-self-center">
                            <h6 class="mb-0 fw-bolder">Vinoth Parkash</h6>
                            <span>CEO Fabric Nation</span>
                        </div>
                    </div>
                    <div class="det text-center">
                        <p class="fs-7 fst-italic">Sed lectus ante, pharetra in lacus sed, efficitur luctus elit.
                            Suspendisse commodo felis dictum, tempor tortor a, dapibus tellus. Nam ornare felis ut arcu
                            tristique luctus. Curabitur </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="serv-cove shadow-md rounded bg-white p-3">
                    <div class="prf row mb-3">
                        <div class="col-3">
                            <img class="rounded-pill" src="assets/images/testimonial/member-03.jpg" alt="">
                        </div>
                        <div class="col-9 align-self-center">
                            <h6 class="mb-0 fw-bolder">Jackson Daniel</h6>
                            <span>CEO Notitech</span>
                        </div>
                    </div>
                    <div class="det text-center">
                        <p class="fs-7 fst-italic">Sed lectus ante, pharetra in lacus sed, efficitur luctus elit.
                            Suspendisse commodo felis dictum, tempor tortor a, dapibus tellus. Nam ornare felis ut arcu
                            tristique luctus. Curabitur </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="serv-cove shadow-md rounded bg-white p-3">
                    <div class="prf row mb-3">
                        <div class="col-3">
                            <img class="rounded-pill" src="assets/images/testimonial/member-02.jpg" alt="">
                        </div>
                        <div class="col-9 align-self-center">
                            <h6 class="mb-0 fw-bolder">Praveen Thaney</h6>
                            <span>Admin Vintech</span>
                        </div>
                    </div>
                    <div class="det text-center">
                        <p class="fs-7 fst-italic">Sed lectus ante, pharetra in lacus sed, efficitur luctus elit.
                            Suspendisse commodo felis dictum, tempor tortor a, dapibus tellus. Nam ornare felis ut arcu
                            tristique luctus. Curabitur </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>